@page
@model PortfolioDotNet.Pages.ChatterModel
@{
    ViewData["Title"] = "Chatter";
}

<header>
    <a asp-page="/Index">Return to Portfolio</a>
</header>

<div class="chatter-div">
    <div class="chatter-item">
        item1
    </div>

    <div class="chatter-item">
        item2
    </div>
</div>

